html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #f9b233 !important;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 0 10px;
}

* {
  box-sizing: border-box;
}
